<html>
<head>
    {{ghost_head}}
    <title>NightGuide</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/legacy.css"}}">
</head>
<body class="page--home">
<div class="content container">
    <main>
        <img class="logo" src="{{asset "img/legacy/logo.svg"}}" alt="NightGuide"/>
        <h1>The app for nightlife in your area</h1>
        <p>
            NightGuide is the new platform where
            nightlife visitors and venues come
            together.
        </p>
        <p>
            Currently available in Utrecht in The Netherlands. New areas will be added soon.
        </p>
        <div class="buttons">
            <a href="https://itunes.apple.com/us/app/nightguide/id1453033103?l=nl&ls=1&mt=8">
                <img class="button-appstore" src="{{asset "img/legacy/button-appstore.png"}}" alt="Download on the App Store">
            </a>
            <a href="http://play.google.com/store/apps/details?id=app.nightguide.app1">
                <img class="button-playstore" src="{{asset "img/legacy/button-playstore.png"}}" alt="Download on the Play Store">
            </a>
        </div>
    </main>
    <aside class="iphone-container">
        <img src="{{asset "img/legacy/iphone.png"}}" alt="" class="iphone">
    </aside>
</div>
<footer class="footer">
    <div class="container">
        <p class="info">
            <strong>NightGuide</strong><br/>
            Utrecht, The Netherlands<br/>
            <a href="mailto:contact@nightguide.app">contact@nightguide.app</a><br/>
            (+31) 30 799 6300
        </p>
        <p class="links">
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/expert-chat">Expert chat</a>
        </p>
    </div>
</footer>
</body>
</html>